<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a la tienda</h1>

    {% if activo %}
        <p>El usuario está activo</p>
    {% else %}
        <p>El usuario no está activo</p>
    {% endif %}

    <h2>Nuestros productos:</h2>

    {% if productos|length > 0 %}
        <ul>
            {% for producto in productos %}
                <li>{{ producto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay productos</p>
    {% endif %}
    
</body>
</html>