<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario SENA</title>
</head>
<body>
    <h2>Formulario de Registro de Aprendices</h2>
    
    <form action="" method="POST">
        <div>
            <label>Nombre Completo:</label>
            <input type="text" name="nombre" placeholder="Ej. Juan Pérez" required>
        </div>
        <br>
        <div>
            <label>Correo Electrónico:</label>
            <input type="email" name="correo" placeholder="Ej. juan@sena.edu.co" required>
        </div>
        <br>
        <button type="submit">Registrarse</button>
    </form>
</body>
</html>